<#import "blocks/template.ftlh" as t>
<@t.template user>
<h1>Список товаров:</h1>
    <ol>
<#list products as product>
    <li>
    <div>
        <a href="/products/${product.ID}"><b>${product.name}</b> (Людей в очереди: ${product.numberOfPeople})</a>
    </div>
    </li>
    <hr>
<#else>
    <h3>Товаров нет</h3>
</#list>
    </ol>

</@t.template>